body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
.para25 {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.preserve-space {
    white-space: pre-wrap;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 1;
    color: #FFFFFF;
    max-width: 1100px;
    /* margin-bottom: 40px; */
}

h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFFFFF;
    max-width: 750px;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFFFFF;
    max-width: 750px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    /* margin-bottom: 40px; */
}

.para25 {
    font-size: 25px;
    margin-bottom: 25px;
}

main {
    padding: 130px 0 0 0;
}

img {
    width: 100%;
}

.max-width {
    max-width: 1290px;
    margin: 0 auto;
}

.max-width-100 {
    max-width: 100%;
}

.mar-auto {
    margin: 0 auto;
}

.mar-0 {
    margin: 0;
}

.pad-0 {
    padding: 0;
}

/* :horizontal grid */
.row {
    display: flex;
}

.inln-blk img {
    display: inline-block;
    vertical-align: bottom;
}

/* flex wrap */
.flx-wp {
    flex-wrap: wrap;
    gap: 15px;
}

/* vertical grid */
.grid-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* grid partitions */
.row2 .col {
    width: 50%;
}

.row3 .col {
    width: 33.33%;
}

.row4 .col {
    width: 25%;
}

.row5 .col {
    width: 20%;
}

.row6 .col {
    width: 16.67%;
}

.row7 .col {
    width: 14.29%;
}

/* upper case */
.uc {
    text-transform: uppercase;
}

/* text alignments */
.tal {
    text-align: start;
}

.tac {
    text-align: center;
}

.tar {
    text-align: end;
}

/* horizontal alignments */
.jcs {
    justify-content: flex-start;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.jcsa {
    justify-content: space-around;
}

/* vertical alignments */
.vs {
    align-items: flex-start;
}

.vc {
    align-items: center;
}

.ve {
    align-items: flex-end;
}

.t-white {
    color: #FFFFFF;
}

.t-black {
    color: black;
}

.t-white-trans {
    color: rgba(255, 255, 255, 0.5);
}

.t-white-trans-pipe {
    color: rgba(255, 255, 255, 0.2);
}

.t-yellow {
    color: #F2E55D;
}

.t-neon {
    color: #c6f56f;
}

.t-purple {
    color: #864FFE;
}

.ts-10 {
    font-size: 10px;
}

.ts-12 {
    font-size: 12px;
}

.ts-14 {
    font-size: 14px;
}

.ts-15 {
    font-size: 15px;
}

.ts-16 {
    font-size: 16px !important;
}

.ts-18 {
    font-size: 18px;
}

.ts-20 {
    font-size: 20px;
}

.ts-24 {
    font-size: 24px;
}

.ts-32 {
    font-size: 32px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

.cursor-pointer {
    cursor: pointer;
}

/* Header styles - beginning */
.header {
    /* margin: 20px; */
    position: fixed;
    top: 10px;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.top-menu {
    max-width: 1270px;
    max-height: 43px;
    background-color: #181d26;
    border-radius: 50px;
    padding: 10px;
    align-items: center;
}

header img,
footer img {
    width: 200px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

/* Header styles - end */

.theme-btn {
    position: fixed;
    background-color: #fff;
    bottom: 20px;
    right: 0;
    width: 48px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: -10px;
    border-bottom-right-radius: -10px;
    z-index: 100;
}

.tick-white-bg::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-image: url("../images/check_white_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.tick-white-tk::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-image: url("../images/check_white_tick.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.tick-black-bg::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-image: url("../images/check_black_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.bor-rad {
    border-radius: 20px;
}